<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="../templates/layout">
<th:block layout:fragment="head-title">
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<title>Detail | Aergo Survey</title>
	<link href="css/chart.css" rel="stylesheet">
</th:block>
<th:block layout:fragment="main">
	<!-- <p th:text=${survey}></p> -->
	<script th:inline="javascript">
		/*<![CDATA[*/
		var surveyString = '[[${survey}]]';
		var total = '[[${survey.aggregate().getCount()}]]';
		/* alert(testValue); */
		/*]]>*/
	</script>
	<figure class="highcharts-figure">
		<div id="container"></div>
		<p class="highcharts-description">description</p>

		<div class="container">
			<h2 th:text="${survey.question}"></h2>
			<p th:text="${survey.startTime} + ' ~ ' + ${survey.endTime}"></p>
			<form action="/answers">
				<div class="form-group">
				<!-- <label class="radio-inline"> <input type="radio" name="optradio" checked >Option 1 </label> -->
				<!-- <label class="radio-inline"> <input type="radio" name="optradio">Option 2 </label> -->
					<label class="radio-inline" th:each="answer : ${survey.answers}">
						<input type="radio" name="optradio" th:text="${answer.text}" th:value="${answer.id}">
					</label>
				</div>
				<input class="btn btn-primary" type="submit" value="설문조사참여">
			</form>
		</div>
	</figure>


	<!-- <a id="kakao-login-btn"></a>
	<a href="http://developers.kakao.com/logout"></a>

	<script type='text/javascript'>
		//<![CDATA[
		// 사용할 앱의 JavaScript 키를 설정해 주세요.
		Kakao.init('5fe25fb3ba8d99b047f3d8f3eb5e9227');
		// 카카오 로그인 버튼을 생성합니다.
		/* Kakao.Auth.createLoginButton({ */
		Kakao.Auth.createLoginButton({
			container : '#kakao-login-btn',
			success : function(authObj) {
				// 로그인 성공시, API를 호출합니다.
				Kakao.API.request({
					url : '/v2/user/me',
					success : function(res) {
						alert(JSON.stringify(res));
					},
					fail : function(error) {
						alert(JSON.stringify(error));
					}
				});
			},
			fail : function(err) {
				alert(JSON.stringify(err));
			}
		});

		//]]>
	</script> -->


</th:block>
<th:block layout:fragment="scripts">
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/series-label.js"></script>
	<script src="js/chart.js"></script>
</th:block>

</html>